.l.l-body
  .l.l-paper.l-paper--games
    .games
      .games__text.games__text--title
        Week #{@week}
      - @games_groups.each do |game_time, game_group|
        #{game_time.in_time_zone("Eastern Time (US & Canada)").strftime("%a, %-m/%d - %l:%M%P")}
        - game_group.each do |game|
          = render partial: "partials/game", locals: {game: game}
      / Will need styling
      - if @favorite_team_game
        %strong Favorite team:
        #{@favorite_team_game.kickoff.in_time_zone("Eastern Time (US & Canada)").strftime("%a, %-m/%d - %l:%M%P")}
        = render partial: "partials/favorite_team_game", locals: {game: @favorite_team_game}
    .button-group.button-group--horizontal
      - if @week.to_i > 1
        = link_to "< Previous", games_path(week: @week.to_i - 1), class: "button button--pick-navigation"
      = link_to "Current", games_path(), class: "button button--pick-navigation"
      - if @week.to_i < 17
        = link_to "Next >", games_path(week: @week.to_i + 1), class: "button button--pick-navigation"
