<!-- <p id="notice"><%= notice %></p> -->

<div class="l l-header">
  <div class="l l-navbar">
    <%= link_to('Sign Out', destroy_user_session_path, method: :delete, class: "button button--sign-out") %>
    <div class="navbar__text">Picks</div>
    <%= link_to("Rankings", users_path, method: :get, class: "button button--rankings") %>
  </div>
</div>

<div class="l l-body">
  <div class="l l-paper l-paper--games">
    <div class="games">
      <div class="games__text games__text--title">Week <%= @week %></div>

      <% @games.each do |game| %>
        <%= render partial: "partials/game", locals: {game: game} %>
      <% end %>
      <!-- Will need styling -->
      <% if @favorite_team_game %>
        <strong>Favorite team:</strong>
        <%= render partial: "partials/favorite_team_game", locals: {game: @favorite_team_game} %>

      <% end %>
    </div>

    <div class="button-group button-group--horizontal">
      <% if @week.to_i > 1 %>
        <%= link_to "< Previous", games_path(week: @week.to_i - 1), class: "button button--pick-navigation" %>
      <% end %>

      <%= link_to "Current", games_path(), class: "button button--pick-navigation" %>

      <% if @week.to_i < 17 %>
        <%= link_to "Next >", games_path(week: @week.to_i + 1), class: "button button--pick-navigation" %>
      <% end %>
    </div>
  </div>
</div>
