<p id="notice"><%= notice %></p>

<h1>Listing Games</h1>
<h3>Week: <%= @week %></h3>

<table>
  <thead>
    <tr>
      <th>Kickoff</th>
      <th>Home team</th>
      <th>Away team</th>
      <th>Winner</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.kickoff %></td>
        <td><%= game.home_team.name %></td>
        <td><%= game.away_team.name %></td>
        <td><%= game.winning_team.try(:name) %></td>
        <td><%= game.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @week.to_i > 1 %>
  <%= link_to "Previous week", games_path(week: @week.to_i - 1) %>
<% end %>

<%= link_to "This week", games_path() %>

<% if @week.to_i < 17 %>
  <%= link_to "Next week", games_path(week: @week.to_i + 1) %>
<% end %>
