!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Flea Flicker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{:src => "https://use.typekit.net/fda0wut.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
  %body
    .l-app
      - if current_user
        .l.l-header
          .l.l-navbar
            = render partial: "partials/navbar"
      - else
        .l.l-header
          .l.l-navbar
            .navbar__text Welcome! Please log in.
      = yield

