!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "Flea Flicker surfaces the 2017 NFL games to be picked by a pre-registered group of competitors, who select the winners of the games ahead of the time to earn points. The competitor with the most points at the end of the season wins.", :name => "description"}/
    %meta{:content => "Austin Brown and Kevin Henke", :name => "author"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title Flea Flicker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %script{:src => "https://use.typekit.net/fda0wut.js"}
    :javascript
      try{Typekit.load({ async: true });}catch(e){}
  %body
    #app.l-app
      - if current_user
        .l.l-header
          .l.l-navbar
            = render partial: "partials/navbar"
      - else
        .l.l-header
          .l.l-navbar
            .navbar__texts
              .navbar__text.navbar__text--title Welcome!
              .navbar__text.navbar__text--subtitle Please log in.
      = yield

